{% extends "rango/base.html" %}

{% load static %} <!-- New line -->

      <h1> <center> This tutorial has been put together by Andrei-Mihai Nicolae, ID: 2147392 </center> </h1>
      

    {% block body_block %}
    <div class="hero-unit">
            <h3> <center> This tutorial has been put together by Andrei-Mihai Nicolae, ID: 2147392 </center> </h3>
	<br> <br> <br>
	<center> You've visited the site on <strong>{{ visit_count }} occasion(s).</strong> </center><br/> <br>

        <center> <img src="{% static "profile_pic.png" %}" alt="Picture of myself" /> <!-- New line --> </center>
	</div>
    {% endblock %}
