{% extends "rango/base.html" %}

{% block title %}Profile{% endblock %}

{% block body_block %}
<div class="hero-unit">
     <h1> Profile </h1> <br/>
	     <h2>{{ user.username }}</h2>
       <p>Email: {{ user.email }}</p>
       
       
          <p>Website: {{userprofile.website}}</p>
           <br/>
       
	         <img src="{{ userprofile.picture.url }}"  />

		 <br>
		 <br>
		 <a href="/accounts/password/change" role="button" class="btn btn-success btn-large">Change Password!</a>
</div>

{% endblock %}
